body {

}

.tabela {
    border: 5px dotted purple;
    background-color: aliceblue;
    font-family: "Space Grotesk Regular";
}

.tabela th,
.tabela td {
    border: 1px dashed red;  
}

.destaque {
    background-color: gray;
    color: white;
}
